#root {
  display: flex;
}


p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
ul {
  font-family: Roboto;
  color: hsl(234, 29%, 20%);
}

p.heading {
  font-weight: 700;
  font-size: 59px;
  margin-bottom: 25px;
}

.container-subscribe {
  background-color: hsl(0, 0%, 100%);
  height: 593px;
  width: 850px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  vertical-align: middle;
  margin: 7% auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

input {
  border-radius: 8px;
  width: 94%;
  height: 50px;
  border: 1px solid hsl(0, 0%, 83%);
  color: hsl(0, 0%, 30%);
  margin-top: 10px;
  padding: 0px;
  margin-bottom: 25px;
  font-size: 15px;
  padding-left: 20px;
  font-weight: 500;
}

input:hover,
input:active,
input:focus,
input:focus-within {
  outline: 1px solid hsl(234, 29%, 20%);
  cursor: pointer;
}

label {
  font-weight: 900;
  font-size: 12px;
}

.text-div {
  padding-right: 50px;
  width: 370px;
}

p.body-text {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 25px;
}

button {
  color: hsl(234, 29%, 20%);
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 20px 20px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(to right, hsl(4, 100%, 67%), hsl(27, 100%, 67%));
  color: hsl(0, 0%, 100%);
  box-shadow: -10px 20px 20px 2px hsla(4, 100%, 67%, 0.397);
}

.list {
  display: flex;
  flex-direction: row;
  line-height: 3px;
}

.icon-list {
  padding-right: 15px;
}

.error-text {
  color: hsl(0, 100%, 67%);
}


.label-left {
  float: left;
}

.label-right {
  float: right;
}

.container-success {
  margin: 10% auto;
  background-color: hsl(0, 0%, 100%);
  height: 470px;
  width: 450px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
}

.heading-success {
  font-weight: 700;
  font-size: 59px;
  margin-bottom: 5px;
  line-height: 60px;
  margin-top: 30px;
}

p.body-text-success {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 40px;
  width: 360px;
  line-height: 25px;
}

button.dismiss {
  width: 360px;
  font-size: 15px;
}

img.success-icon {
  width: 60px;
  margin-top: 20px;
}

@media screen and (min-width: 376px) {
  .container-mobile {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  :root {
    background-color: hsl(0, 0%, 100%);
  }

  body {
    margin: 0px 0px;
  }

  .container-subscribe {
    display: none;
  }

  .container-mobile {
    display: flex;
    flex-direction: column;
  }

  .mobile-image-header {
    height: 284px;
    width: 375px;
  }

  .main-content-mobile {
    padding-left: 20px;
    padding-right: 20px;

  }

  .container-mobile-success {
    padding-left: 20px;
    margin-top: 40%
  }

  .body-text-success {
    line-height: 25px;
  }

  p.heading-mobile {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 40px;
  }

  p.body-text-mobile {
    line-height: 25px;
  }

  .list-mobile {
    display: flex;
    flex-direction: row;
    line-height: 25px;
  }

  .list-mobile p {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  img.icon-list {
    vertical-align: text-top;
    padding-right: 15px;
    display: inline;
  }

  button.dismiss {
    width: 335px;
    margin-top: 85%;
    align-content: center;
    font-size: 16px;
  }

  .labels {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
  }

  .label-left-mobile {
    flex: 50%;
   
  }

  .label-right-mobile {
    flex: 50%;
    text-align: right;
  }
/* 
  input {
    border-radius: 8px;
    width: 95%;
    height: 50px;
    border: 1px solid hsl(0, 0%, 83%);
    color: hsl(0, 0%, 30%);
    margin-top: 10px;
    padding: 0px;
    margin-bottom: 25px;
    font-size: 15px;
    padding-left: 20px;
    font-weight: 500;
  } */

  .error-text-mobile {
    color: hsl(0, 100%, 67%);
  }

}