#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  /* background-color: hsl(234, 29%, 20%); */
}

.desktop {
  /* background-color: hsl(234, 29%, 20%); */
}

p, h1, h2, h3,h4, h5, h6, label, ul {
  font-family: Roboto;
  color: hsl(234, 29%, 20%);
}

p.heading {
  font-weight: 700;
  font-size: 59px;
  margin-bottom: 25px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  height: 593px;
  width: 850px;
  border-radius: 25px;
  margin: auto auto;
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  /* padding-right: 20px; */
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  /* border: 2px solid red; */
}

input {
  /* width: 100%; */
  /* padding: 20px 20px; */
  border-radius: 8px;
  width: 95%;
  height: 50px;
  border: 1px solid hsl(0, 0%, 83%);
  color: hsl(0, 0%, 30%);
  margin-top: 10px;
  padding: 0px;
  margin-bottom: 25px;
  font-size: 15px;
  padding-left: 20px;
  font-weight: 500;
}

input:hover, input:active, input:focus, input:focus-within {
  outline: 1px solid hsl(234, 29%, 20%);
  cursor: pointer;
}

label {
  font-weight: 900;
  font-size: 12px;
}

.text-div {
  padding-right: 50px;
  width: 370px;
  /* border: 2px solid blue; */
}

p.body-text {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 25px;
}

ul {
  list-style-image: url("../assets/images/icon-list.svg");
  list-style-position: outside;
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
  margin-bottom: 30px;
}

li {
  /* align-items: center; */
  /* display: inline-block;
  vertical-align: middle; */
  align-items:center
}

li::before {
  /* align-items: center; */
  /* display: inline-block;
  vertical-align: middle; */
  align-items:center;
  vertical-align: middle;
}

button {
  color: hsl(234, 29%, 20%);
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 20px 20px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  /* width: 100%; */
}

button:hover {
  background-image: linear-gradient(to right, hsl(4, 100%, 67%), hsl(27, 100%, 67%));
  color: hsl(0, 0%, 100%);
  box-shadow: -10px 20px 20px 2px  hsla(4, 100%, 67%, 0.397);
}

.list {
  display: flex;
  flex-direction: row;
  line-height: 3px;
}

.icon-list {
  padding-right: 15px;
}

.error-text {
  display: none;
}

.input-label {
  /* display: flex;
  flex-direction: row; */
  display: inline-block;

}

.label-left {
  float: left;
  margin-right: 90px;
}

.label-right {
  float: right;
  margin-left: 90px;
}